@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
:root {
    --danger: #ef233c;
    --danger-hover: #d91e35;
    --primary: #4361ee;
    --secondary: #3f37c9;
    --accent: #f72585;
    --success: #4cc9f0;
    --warning: #f8961e;
    --gray: #6c757d;
  }